---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro.jsx';
import Qr from '../components/Qr.jsx' ; 
---

<Layout title="Welcome to Astro.">
	<main>
		<Qr />
	</main>
</Layout>


